
<section id="AboutUs" class="py-24 bg-gray-100">
  <div class="container mx-auto max-w-7xl px-8 md:px-12">

    <div class="text-center mb-12">
      <p class="text-4xl md:text-5xl font-medium font-display text-green-600">
        A PROPOS DE NOUS
      </p>
      <p class="mt-4 text-lg text-green-600">
        ACTEUR MAJEUR DU TRADING A LA DISTRIBUTION DE PRODUITS PÉTROLIÈRS ET DERIVES
      </p>
    </div>

    <div class="grid gap-12 lg:grid-cols-1 md:grid-cols-1">
      <div class="bg-white rounded-xl p-6 shadow-lg">
        <div class="flex items-center justify-center bg-gray-100 rounded-full w-10 h-10 mx-auto mb-4">
          <ion-icon name="scan-outline" class="md:h-4 md:w-4 text-green-600"></ion-icon>
        </div>
        <p class="text-lg text-gray-500">
          Nous sommes un acteur majeur de la distribution et de la logistique
          pétrolière depuis près de Treize années à Travers la holding SIPRESS
          SA. Notre mission est simple : résoudre la problématique
          d’approvisionnement en carburant chez les états d’Afrique
          subsaharienne et dans les collectivités, approvisionner en carburants
          les clients B2B, les entreprises de travaux publics et les
          transporteurs. ALCEA Energy assure à ses clients la disponibilité et
          la qualité des produits qu’elle commercialise. Notre réussite repose
          sur le savoir-faire et l’expérience de nos 51 collaborateurs, répartis
          sur l’ensemble du territoire Ivoirien et Sénégalais . Cette activité
          de Trading et de distribution est complétée par nos capacités de
          stockage qui maillent le territoire Ivoirien, parmi lesquelles le
          sommier à la GESTOCI, le Dépôt Yamoussoukro,Gagnoa,Daloa ,Grand
          Lahou, mis en service entre 2014 et 2019 et le stockage en cours de
          validité à SENSTOCK à Dakar. Cette organisation nous permet
          d’assurer notre mission de fournisseur d’énergie, indispensable à
          l’activité économique des pays, quelle que soit la situation.
          Notre activité est, par nature, dépendante des produits fossiles et au
          cœur des enjeux du xxie siècle. C’est pourquoi SIPRESS SA / ALCEA
          Energy s’est engagée depuis plusieurs années sur la voie du
          professionnalisme pour répondre aux besoins des pays africains.
          Tout en défendant l’intérêt des consommateurs et populations
          africaines en énergie, nous avons développé une offre de produits
          remisée pour les pays et les champions du secteur pétrolier locaux.
          Nous avons été la première entreprise du secteur à proposer en Côte
          d’Ivoire et en Afrique subsaharienne une offre disruptive à 10 % prix
          Platt’s en 2023, et nous augmentons progressivement cette discount
          en fonction des volumes importants commandés. Un produit à 10-50
          ppm et Ron 91-95 sera proposé dès 2023 dans le Gasoil et le Super,
          selon les besoins des états. De même, nous proposons des solutions
          à l’énergie à100 % de qualités premium à nos clients.
          Parce que nous pensons qu’il est indispensable d’accompagner les
          particuliers dans cette nouvelle voie vertueuse, le service
          commercial complète l’offre de ALCEA Energy. Enfin, nous finançons
          des programmes de mobilités durables et douces pour la planète. 
        </p>

      </div>
    </div>
  </div>
</section>

<section id="AboutUs" class="py-24 bg-white">
  <div class="container mx-auto max-w-7xl px-8 md:px-12">
    <div class="flex flex-wrap justify-between mb-4">
      <div class="w-full lg:w-1/2 mb-4 lg:mb-0">
        <img src="/product/chiffre-cle1.jpg" class="w-full" alt="Logo">
      </div>
      <div class="w-full lg:w-1/2">
        <img src="/product/chiffre-cle3.png" class="w-full" alt="Logo">
      </div>
    </div>
    <div class="flex justify-center mb-4">
      <div class="w-full lg:w-1/2">
        <img src="/product/chiffre-cle2.png" class="w-full" alt="Logo">
      </div>
    </div>
  </div>
</section>


<section id="AboutUs" class="py-24 bg-gray-100">
  <div class="container mx-auto max-w-7xl px-8 md:px-12">
    <div class="grid gap-12 lg:grid-cols-1 md:grid-cols-1">
      <div class="bg-white rounded-xl p-6 shadow-lg relative">
        <div class="flex items-center justify-center bg-gray-100 rounded-full w-10 h-10 mx-auto mb-4">
          <ion-icon name="scan-outline" class="md:h-4 md:w-4 text-green-600"></ion-icon>
        </div>
        <div class="text-lg text-gray-500">
          <h2 class="text-xl font-bold text-green-600 mb-4">NOTE DE PRESENTATION DE SIPRESS SA</h2>
          <ul class="list-disc pl-6">
            <li><strong>Nom de l’entreprise:</strong> SIPRESS : Société Ivoirienne de Prestation de Services</li>
            <li><strong>Date de création:</strong> 1997</li>
            <li><strong>Statut juridique:</strong> Société Anonyme</li>
            <li><strong>Adresse:</strong> Abidjan - Angré 8 ème tranche</li>
            <li><strong>Capital:</strong> 200.000.000 F. CFA</li>
            <li><strong>Secteur d’activité:</strong> Pétrole, GPL et Lubrifiants</li>
            <li><strong>Activité:</strong> Distribution de produits pétroliers et dérivés</li>
            <li><strong>Implantation:</strong> Abidjan, Angré 8 ème tranche, Immeuble Braka 3 ème étage, Porte B.11</li>
            <li><strong>Téléphone:</strong> +225 07 58 52 49 60 / 05 56 45 90 06</li>
            <li><strong>Adresse mail:</strong> dgsipress21@gmail.com</li>
            <li><strong>Nombre de salariés:</strong> 52</li>
            <li><strong>Dernier chiffre d’affaires:</strong> 5 989 467 358 FCFA</li>
            <li><strong>Site internet:</strong> <a href="http://www.sipress.ci" target="_blank" class="text-green-600">www.sipress.ci</a></li>
          </ul>
          <br>
        </div>
        <div class="absolute bottom-6 right-6">
          <a href="/Product" class="bg-green-600 text-white px-4 py-2 rounded-full shadow-md hover:bg-green-700">Nos Produits</a>
        </div>
      </div>
    </div>
  </div>
</section>





