<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <div class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <!-- Input search field or filter button can be placed here -->
          </div>
        </div>
        <p class="text-2xl md:text-4xl tracking-tight font-medium font-display mt-8 text-green-600">
          SIPRESS, Société ivoirienne de prestations et services
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Putting together a directory website was a challenge. Superstash lets
          you focus on the content and makes the entire process effortless.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <!-- Optional content here -->
      </div>
      <dl class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700">Astro, Tailwind CSS and Alpine.js</strong> ━ These are the popular technologies behind Astrosaas.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Includes 6 pages</strong> ━ You will find this landing, faq, terms, privacy, sign up and sign in pages.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Different sections</strong> ━ The starter includes different feature sections, a pricing table, testimonials, CTA and full forms.
        </div>
      </dl>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-gray-100 p-8 rounded-3xl">
        <div class="slider"></div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 lg:mt-8 md:grid-cols-8 mt-6">
      <!-- Centering the images for mobile version -->
      <div class="flex justify-center col-span-1 md:col-span-2">
        <img alt="logo" class="h-13" src="/sir_log.png" />
      </div>
      <div class="flex justify-center col-span-1 md:col-span-2">
        <img alt="logo" class="h-13" src="/gestoci-logo.png" />
      </div>
      <div class="flex justify-center col-span-1 md:col-span-2">
        <img alt="logo" class="h-13" src="/sipress_logo.jpg" />
      </div>
      <div class="flex justify-center col-span-1 md:col-span-2">
        <img alt="logo" class="h-13" src="/alcea-logo.jpg" />
      </div>
    </div>
  </div>
</section>
