<section id="features" class="py-24 bg-gray-100">
  <div class="container mx-auto max-w-7xl px-8 md:px-12">
    <div class="text-center mb-12">
      <p class="text-4xl md:text-5xl font-medium font-display text-green-600">
        Nous sommes présents dans plusieurs autres domaines
      </p>
      <p class="mt-4 text-lg text-gray-500">
        This is your secondary text here.
      </p>
    </div>

    <div class="grid gap-12 lg:grid-cols-3 md:grid-cols-1">
      <div class="bg-white rounded-xl p-6 shadow-lg">
        <div class="flex items-center justify-center bg-gray-100 rounded-full w-10 h-10 mx-auto mb-4">
          <ion-icon name="scan-outline" class="md:h-4 md:w-4 text-green-600"></ion-icon>
        </div>
        <p class="text-lg font-semibold text-green-600 mb-2">Agriculture</p>
        <p class="text-sm text-gray-500">
          En tant qu'acteur majeur du secteur agricole, nous gérons plusieurs milliers d'hectares de plantations d'hévéa et de cajou.
        </p>
      </div>

      <div class="bg-white rounded-xl p-6 shadow-lg">
        <div class="flex items-center justify-center bg-gray-100 rounded-full w-10 h-10 mx-auto mb-4">
          <ion-icon name="scan-outline" class="md:h-4 md:w-4 text-green-600"></ion-icon>
        </div>
        <p class="text-lg font-semibold text-green-600 mb-2">Technologie</p>
        <p class="text-sm text-gray-500">
          Ivoire Artisans est une entreprise spécialisée dans la technologie de mise en relation entre les artisans et leur clientèle.
        </p>
      </div>

      <div class="bg-white rounded-xl p-6 shadow-lg">
        <div class="flex items-center justify-center bg-gray-100 rounded-full w-10 h-10 mx-auto mb-4">
          <ion-icon name="scan-outline" class="md:h-4 md:w-4 text-green-600"></ion-icon>
        </div>
        <p class="text-lg font-semibold text-green-600 mb-2">Hydrocarbure</p>
        <p class="text-sm text-gray-500">
          À moyen terme, l'objectif de SIPRESS est d'ouvrir une dizaine de stations à Abidjan.
        </p>
      </div>
    </div>
  </div>
</section>
