<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24"
    >
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"  style="color: green;"
          >
            Informatique
          </p>
          <p class="text-base mt-4 text-gray-500">
            Notre filiale informatique se spécialise dans le développement informatique
            en proposant des solutions sur mesure pour répondre aux besoins spécifiques
            de nos clients. Avec une équipe hautement qualifiée et expérimentée,
            nous concevons et développons des applications, des sites web, et des logiciels
            personnalisés en utilisant les dernières technologies et les meilleures pratiques
            de l'industrie. Notre objectif est d'offrir des solutions innovantes,
            fiables et évolutives qui permettent à nos clients de tirer pleinement parti de la puissance de la technologie
            pour atteindre leurs objectifs commerciaux.
          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border"
      >
       <div class="bg-green-100 p-8 rounded-2xl overflow-hidden">
        <div class="slider1">
        </div>
       </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            style="color: green;"
          >
            Developer experience
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Everything I build is keyboard accessible, and I meticulously write
          the markup to deliver the best screenreader experience.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            style="color: green;"
          >
            Designers go-to app
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          I tested the template in the latest versions of all browsers to handle
          lots of edge-cases you might encounter.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            style="color: green;"
          >
            Easy onboarding
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          The template is ready for production and can be deployed anywhere
          static websites can, such as Vercel, Netlify, or GitHub Pages,..
        </p>
      </div>
    </div>
  </div>
</section>
