<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
          style="color: green;"
        >
        Nous sommes present dans plusieur autre domaine
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                  style="color: green;">
                  Agriculture
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                En tant qu'acteur majeur du secteur agricole,
                nous gérons plusieurs milliers d'hectares de plantations d'hévéa et de cajou.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                  style="color: green;"
                >
                technologie
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Ivoire Artisans est une entreprise spécialisée dans la technologie de
                mise en relation entre les artisans et leur clientèle.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                  style="color: green;"
                >
                hydrocarbure
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                À moyen terme, l'objectif de SIPRESS est d'ouvrir une dizaine de stations à Abidjan.
              </div>
            </div><div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
